*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 1385px;
}


.mymain{
    height: ;
    width: 100%;

}

.moonr{
    height: 779px;
    background-image: url("./media/moon.jpg");

    background-size: cover;
    background-position: center - right ;
    
}

.lore{
    color: white;
    font-size: 20px;
    position: relative;
    top: 376px;
    left: 20px;
}
.gfg{
    text-align: center;
    font-size: 52px;
    margin-top: 180px;
}


.gen_bord{
    border: 2px solid black;
}

.h{
    height: 100px;
    width: 40%;
}

.myh1{
font-size: 75px;    
}

.mexh{
    height: 600px;
}

.midh{
    height: 710px;
}

.myp{
    font-size:20px;
}

.mypd-t{
    padding-top: 15px;
}

.maxpd{
    padding-top: 454px;
}

.mypd-b{
    padding-bottom: 20pxs;
}

.myb-b{
   border-bottom: solid rgb(17, 164, 233) 2px; 
}

.sec1{
    height: 300px;
    background-color: #030303;
}
.card-body{
    
    color:#030303 ;   
}

.mymgt{
    margin-top: 30px;
}




    /* sec2 section being */
.sec2{
    
    background-color: #030303;
    display: flex;
}

.mase{
    height: 600px;
    width: 50%;


}

.icon{
    padding-left: 10px;
}

.mase2{
    
    height: 600px;
    width: 50%;
    

}

.pic-mas{
    height: 596px;
}

.olili{
margin-top: 187px;
padding-left: 19px;
}

.olili p{
    font-size: 20px;
    color: white;
}

.olili h3{
    font-size: 40px;
    font-family: ui-monospace;
    color: white;
}


/* sec3 section being */


.missile img {
 padding-top: 100px;

margin-left: 120px;
max-width: 100%;
height: auto;
}

.missile{
    padding-top: 120px;
    height: ;
}

/* footer section being */


.myfooter{
    height: 600px;
    background-image: url(./media/sunrise.jpg);
    background-size: cover;
}
